.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    margin-bottom: 50px;
    margin-top: 15px;    
}

.header-item{
    text-decoration: none;
}

.quote {
    font-style: italic;
}

.container{
    width: 70%;
}

.board{
    background-color: salmon;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 450px;
    height: 450px;
}


.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
    margin: 0;
}

